body {
    margin: 0;
    background: radial-gradient(circle at center, #0a0a0a, #000);
    font-family: monospace;
    color: #00fff7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* GAME CONTAINER */
#game {
    text-align: center;
}

/* TITLE */
h1 {
    color: #ff00ff;
    text-shadow: 0 0 15px #ff00ff;
}

/* WORD */
#word {
    font-size: 36px;
    text-shadow: 0 0 15px #00fff7;
}

/* INPUT */
input {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    width: 260px;
    border: 1px solid #00fff7;
    background: black;
    color: #00fff7;
    text-align: center;
    box-shadow: 0 0 10px #00fff7;
}

/* DASHBOARD */
#dashboard {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 220px;
    height: 120px;
    border: 1px solid #00fff7;
    box-shadow: 0 0 10px #00fff7;
}

/* WEAK WORD PANEL */
#weakPanel {
    margin-top: 20px;
    border: 1px solid #ff00ff;
    padding: 10px;
    box-shadow: 0 0 10px #ff00ff;
}

#weakList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#weakList li {
    color: #ff00ff;
    font-size: 14px;
}
